* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif; 
    font-size: 15px;/*Size normal*/
    color: #e5e5e5;
    padding: 0 4px;
}

window#waybar {
    background: rgba(25, 25, 25, 0.50);
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}


/* --- MODULE SPACING --- */
.modules-left, .modules-center, .modules-right {
    margin: 0 4px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 2px;
    border-radius: 6px;
    background: rgba(255,255,255,0.04);
    transition: 0.15s;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1a1a1a;
    font-weight: bold;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.12);
}

/* --- GENERIC MODULES --- */
#network,
#battery,
#pulseaudio,
#clock,
#cpu,
#memory,
#temperature,
#custom-modes,
#custom-updates,
#custom-weather,
#custom-notification,
#custom-power,
#custom-nightlight,
#language,
#tray,
#backlight,
#bluetooth {
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 6px;
    background: rgba(255,255,255,0.04);
}

/* --- Battery --- */
#battery.warning {
    color: #ffcc66;
}
#battery.critical {
    color: #ff6666;
}

/* --- Network --- */
#network.disconnected {
    color: #ff5555;
    font-style: italic;
}

/* --- Audio --- */
#pulseaudio.muted {
    color: #888;
}

/* --- Temperature --- */
#custom-temperature {
    color: #f38ba8;
}

/* --- CPU / RAM --- */
#cpu { color: #89dceb; }
#memory { color: #cba6f7; }

/* --- Notifications --- */
#custom-notification {
    color: #f2cdcd;
    font-weight: bold;
}

/* --- Clock --- */
#clock {
    color: #a6e3a1;
}

/* --- Bluetooth --- */
#bluetooth {
    color: #89b4fa;
}

/* --- Backlight --- */
#backlight {
    color: #f9e2af;
}

/* --- Tray --- */
#tray {
    padding-right: 10px;
}

/* Hover effect */
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#custom-weather:hover,
#custom-updates:hover,
#custom-notification:hover,
#custom-power,
#bluetooth:hover,
#backlight:hover {
    background: rgba(255,255,255,0.10);
    transition: background 0.15s ease;
}

/* Tooltips */
tooltip {
    background-color: rgba(40, 40, 40, 0.95);
    color: #e5e5e5;
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;/*Size small*/
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Optional variations */
tooltip.error {
    background-color: rgba(255, 70, 70, 0.95);
    color: #fff;
}

tooltip.info {
    background-color: rgba(70, 130, 255, 0.95);
    color: #fff;
}



#custom-launcher {
    font-size: 30px;/*Size large*/
    padding: 0 25 0 20;
    border-radius: 6px;
    background: rgba(255,255,255,0.04);
    transition: 0.15s;
}

#custom-launcher:hover {
    background: rgba(255,255,255,0.12);
}

#custom-modes {
    color: white;
    background-color: rgba(102, 0, 0, 0.3);
    padding: 0 10px;
    border-radius: 5px;
    font-weight: bold;
}
