[Desktop Entry]
Name=Image Viewer
Exec=img-view %f
Type=Application
MimeType=image/png;image/jpeg;image/jpg;image/gif;image/webp;image/bmp;image/tiff;
NoDisplay=false
Icon=view-fullscreen
Comment=Image Viewer
Path=
Terminal=false
StartupNotify=false
