[Desktop Entry]
Name=TextEditor
Exec=editor %f
Type=Application
MimeType=application/x-fishscript;application/x-shellscript;text/plain;
NoDisplay=false
Icon=typewriter
Comment=Text Editor
Path=
Terminal=false
StartupNotify=false
