[Desktop Entry]
Name=Control Center
Exec=ycc -t
Type=Application
Icon=systemsettings
Terminal=false
StartupNotify=false
Categories=Utility;
Comment=YoUNiX Control Center
