[Desktop Entry]
Name=Backup
Exec=ybackup -t
Type=Application
MimeType=application/x-shellscript;text/plain;
NoDisplay=false
Icon=state-sync
Comment=YoUNiX Home Folder Backup System
Path=
Terminal=false
StartupNotify=false
